<style>
.sidebarr
  {
    background-color: #025058!important;
    color: white;
  }
</style>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion sidebarr" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Superuser<sup>{{request.user}}</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'dashboard'%}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Products Tab
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      
      <li class="nav-item">
        <a class="nav-link" href="{%url 'addProduct'%}">
          <i class="fas fa-plus"></i>
          <i class="fa fa-product-hunt" aria-hidden="true"></i>

          <span>Add Products</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{%url 'allProduct'%}">
          <i class="fas fa-store"></i>
          <span>All Products</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'addorder'%}">
          <i class="fab fa-first-order-alt"></i>
          <span>Add Orders</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'coustomers'%}">
          <i class="fas fa-user-friends"></i>
          <span>Coustomers</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'userRequest'%}">
          <i class="fas fa-comment-alt"></i>
          <span>User Requests</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{%url 'generateOrders'%}">
          <i class="fas fa-paper-plane"></i>
          <span>Generate Order</span></a>
      </li>

      



      

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
       Firmwares
      </div>

      

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Firmware</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-table"></i>
          <span>Add Firmware</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-table"></i>
          <span>Delete Firmwares</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-table"></i>
          <span>Update Files</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>